<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TMSA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TMSA.Properties.Settings.TMSAConnectionString" connectionString="Data Source=den1.mssql8.gear.host;Initial Catalog=ake;Integrated Security=False;User ID=AKE;Password=@userkey5tune"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TMSA.Properties.Settings>
            <setting name="DATEASSIGNED" serializeAs="String">
                <value />
            </setting>
            <setting name="CongName" serializeAs="String">
                <value />
            </setting>
        </TMSA.Properties.Settings>
    </userSettings>
</configuration>